* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#000;
}

body {
    font-family: 'Times New Roman', sans-serif;
    line-height: 1.6;
    padding: 10 40px;
    max-width: 100%;
    margin: 0;
}
.resume-wrapper {
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
    margin-bottom: 50px;
    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }

    .contact-info {
        font-size: 0.90rem;

        a {
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
.education {
    margin-bottom: 20px;
    text-align: left;
    h2 {
        font-size: 1.2rem;
        margin-bottom: 5px;
        border-bottom: 1px solid #000;
        padding-bottom: 3px;
    }
}
.education-entry {
    margin-bottom: 15px;
}

.entry-header {
    display: flex;
    justify-content: space-between;
}

.entry-details {
    display: flex;
    justify-content: space-between;
}