@import "tailwindcss";

@theme {
  --color-sage: #BAD9B5;
  --color-forest: #2D4A33;
  --color-terracotta: #C17C67;
  --color-cream: #F7FCF6;
  --color-stone: #232923;
}

.splash{
  background-image: url(./assets/splash_home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  max-height: 900px;
}
#root {
  max-width: 1900px;
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
}
.read-the-docs {
  color: #888;
}

/* set to be nav bar height */
/* .navAdjust {
  padding-top: 70px;
}

.main {
  padding-top: 70px;
  width: 100%;
} */

/**
PAGE TURNER
**/

.logo {
  height: 5em;
  padding: .2em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.fred:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.caully:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

/*****
copyright info
******/

/* .copyright{
  background-color: grey;
  color:white;
  bottom: 0px;

} */

/****
All pop out cards styling
****/

.cards-container {
  display: flex;
  gap: 30px;
  width: 60%;
  margin: 0 auto; /* centers it on the page */
}

.card {
  flex: 1;
  padding: 20px;
  font-family: crayola;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1), 
              0 4px 6px rgba(0, 0, 0, 0.05);
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}

.card:hover {
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15), 
              0 10px 10px rgba(0, 0, 0, 0.04);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

.splash p {
  font-family: justsans;
}